*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
}

html, body, #__next {
  height: 100%;
}

main {
  padding: 5rem 1rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: .05rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  /* position: absolute; */
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  max-width: 70ch;
}

#root, #__next {
  isolation: isolate;
}